replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 3030
  annotations: {}

ingressHostName: jena-fuseki

istio:
  enabled: true

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  failureThreshold: 3
  httpGet:
    path: /
    port: 3030
    scheme: HTTP
  initialDelaySeconds: 15
  periodSeconds: 20
  timeoutSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 3030
    scheme: HTTP
  initialDelaySeconds: 15
  periodSeconds: 20
  timeoutSeconds: 10

autoscaling:
  enabled: false

persistence:
  enabled: true
  claimName: ""        # optional, defaults to release fullname
  storageClass: ""     # empty = use cluster default
  accessMode: ReadWriteOnce
  size: 10Gi
  annotations:
    "helm.sh/resource-policy": keep

volumes:
  - name: data
    persistentVolumeClaim:
      claimName: "jena-fuseki"

volumeMounts:
  - name: data
    mountPath: "/fuseki"

nodeSelector: {}
tolerations: []
affinity: {}

shiro:
  sslEnabled: true
  secretName: "jena-fuseki-secrets"  # required secret, must exist

labels:
  component: ""   # defaults to "database"
  partOf: ""      # defaults to "jena-fuseki"
